# App settings
APP_NAME=Tastlytics
ENV=development
DEBUG=True

# Database
DB_HOST=YOUR_HOST
DB_PORT=YOUR_PORT
DB_NAME=tastlytics_db
DB_USER=YOUR_USERNAME
DB_PASSWORD=YOUR_PASSWORD

# Full database URL
DATABASE_URL=mysql+pymysql://YOURUSERNAME:YOURPASSWORD@YOUR_HOST:YOUR_PORT/tastlytics_db

# CORS
FRONTEND_URL=http://localhost:3006